<%= form_with(model: @dog) do |form| %>
    <div>
        <%= form.label :name %>
        <%= form.text_field :name %>
    </div>
    <div>
        <%= form.label :sex %>
        <%= form.select :sex, %w[male female] %>
    </div>
    <div>
        <%= form.label :age_month %>
        <%= form.text_field :age_month %>
    </div>
    <div>
        <%= form.label :size %>
        <%= form.select :size, %w[small medium large] %>
    </div>
    <div>
        <%= form.label :breed %>
        <%= form.text_field :breed %>
    </div>
    <div>
        <%= form.label :status %>
        <%= form.select :status, %w[available adopted] %>
    </div>
    <div>
        <%= form.label :avatar %>
        <%= form.file_field :avatar %>
    </div>
    <div>
        <%= form.submit %>
    </div>
<% end %>