<%= form_with(model: @dog) do |form| %>
    <div class="mb-3">
        <%= form.label :name, class: "form-label" %>
        <%= form.text_field :name, class: "form-control" %>
    </div>
    <div class="mb-3">
        <%= form.label :sex, class: "form-label" %>
        <%= form.select :sex, Dog.sexes.keys.map { |k| [k.titleize, k] } %>
    </div>
    <div class="mb-3">
        <%= form.label :age_month, class: "form-label" %>
        <%= form.text_field :age_month, class: "form-control" %>
    </div>
    <div class="mb-3">
        <%= form.label :size, class: "form-label" %>
        <%= form.select :size, Dog.sizes.keys.map { |k| [k.titleize, k] } %>
    </div>
    <div class="mb-3">
        <%= form.label :breed, class: "form-label" %>
        <%= form.text_field :breed, class: "form-control" %>
    </div>
    <div class="mb-3">
        <%= form.label :status, class: "form-label" %>
        <%= form.select :status, Dog.statuses.keys.map { |k| [k.titleize, k] } %>
    </div>
    <div class="mb-3">
        <%= form.label :avatar, class: "form-label" %>
        <%= form.file_field :avatar, class: "form-control" %>
    </div>
    <div class="mb-3">
        <%= form.submit class: "btn btn-primary" %>
    </div>
<% end %>