<section class="back-img">
    <div class="container">
    <div class=" d-flex flex-column flex-md-row col-md-6 pt-5 align-items-center gap-5 w-100">
        <div>
            <% if @dog.avatar.attached? %>
                <%= image_tag @dog.avatar, height: 300, class: "object-fit-cover rounded-4" %>
            <% else %>
                <%= image_tag "avatar.svg", height: 300, class: "object-fit-cover rounded-4" %>
            <% end %>
        </div>
        <div>
            <h1><%= @dog.name %></h1>
            <p><span class="fw-bold">Sex:</span> <%= @dog.sex.humanize %></p>
            <p><span class="fw-bold">Age:</span> <%= @dog.age_month %> months</p>
            <p><span class="fw-bold">Size:</span> <%= @dog.size %></p>
            <p><span class="fw-bold">Breed:</span> <%= @dog.breed %></p>
            <p><span class="fw-bold">Status:</span> <%= @dog.status.humanize %></p>
            <div class="d-flex gap-2 align-items-center">
                <% if policy(@dog).update? %>
                    <%= link_to "Edit", edit_dog_path(@dog), class: "btn btn-primary" %>
                <% end %>
                    <%= link_to "Back", dogs_path, class: "btn btn-secondary" %>
                <% if policy(@dog).destroy? %>
                    <%= link_to "Delete", dog_path(@dog), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}, class: "btn btn-danger" %>
                <% end %>
                <% if current_user&.user? %>
                    <% if @dog.adopts.empty? %>
                        <%= link_to "Adopt", new_dog_adopt_path(@dog), class: "btn btn-primary" %>
                    <% else %>
                        <%= link_to "You have already sent an adoption request", dog_adopt_path(@dog), class: "btn btn-primary disabled" %>
                    <% end %>
                <% end %>
                </div>
        </div>
    </div>
    <div class="pt-5">
        <%= render "comments/new_comment", commentable: @dog %>
        <%= render "comments/all_comments", comments: @dog.comments %>
    </div>
</section>