
<div class="d-flex flex-column gap-4">
<%- if controller_name != 'sessions' %>
<h2>Log In</h2>
<p> Already have an account? </p>
  <%= link_to "Log in", new_session_path(resource_name), class: "btn btn-secondary" %>

<% end %>

<%= link_to user_google_oauth2_omniauth_authorize_path, class: "btn d-flex justify-content-center border border-secondary-subtle align-items-center gap-2" do %>
  <img src="https://developers.google.com/identity/images/g-logo.png"
       alt="Google logo" style="width: 18px; height: 18px;" />
  <span class="text-muted fw-semibold">Sign in with Google</span>
<% end %>
<br />
<p>To test google authorization, please contact me 
<%= link_to "by Telegram", "https://t.me/bilokinSvitlana", target: "_blank", rel: "noopener" %>

</p>

<%- if devise_mapping.recoverable? && controller_name != 'passwords' && controller_name != 'registrations' %>
  <%= link_to "Forgot your password?", new_password_path(resource_name) %><br />
<% end %>

<%- if devise_mapping.confirmable? && controller_name != 'confirmations' %>
  <%= link_to "Didn't receive confirmation instructions?", new_confirmation_path(resource_name) %><br />
<% end %>

<%- if devise_mapping.lockable? && resource_class.unlock_strategy_enabled?(:email) && controller_name != 'unlocks' %>
  <%= link_to "Didn't receive unlock instructions?", new_unlock_path(resource_name) %><br />
<% end %>
</div>
