<div class="col-3 col-md-4 col-lg-5 card p-4">
    <h5>Walking Reservation for <%= reservation.dog.name %></h5>
    <p>Date: <%= reservation.reservation_date %></p>
    <p>Time: <%= reservation.time_slot %></p>
    <p>Name: <%= reservation.responsible_name %></p>
    <p>Phone: <%= reservation.responsible_phone %></p>
    <p>Email: <%= reservation.responsible_email %></p>
</div>
