    <h2>Feel free to contact us</h2>
    <p class="py-2 py-md-5">At et vehicula sodales est proin turpis pellentesque sinulla a aliquam 
    amet rhoncus quisque eget sit. Sociis blandit et pellentesque aliquet at quisque tortor lacinia nullam</p>
    <div class="d-flex flex-column gap-2">
        <div class="d-flex align-items-center gap-4">
            <%= image_tag 'location.svg' %>
            <p class="p-0 m-0">18015 Mytnytska str., Cherkasy, Ukraine</p>
        </div>
        <div class="d-flex align-items-center gap-4">
            <%= image_tag 'mail.svg' %>
            <p class="p-0 m-0"><%= link_to 'marsaua001@gmail.com', 'mailto:marsaua001@gmail.com' %></p>
        </div>
        <div class="d-flex align-items-center gap-4">
            <%= image_tag 'phone.svg' %>
            <p class="p-0 m-0">+380 98 288 46 18</p>
        </div>
        <div class="d-flex align-items-center gap-4">
            <%= image_tag 'clock.svg' %>
            <p class="p-0 m-0">Mon - Fri: 9AM - 6PM </p>
        </div>
    </div>

